body {
    text-align: left;
    background-color: #e4f0f7;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    color: #112D4E;
    width: 100vw;
    height: 100vh;
  }


.demo {
  flex-basis: 0;
  flex-grow:1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

  
h1 {
  font-size: 3rem;
  color: #9DB6CF;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  margin-top: 0.5em;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.heading {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}

.heading-reverse {
  box-sizing: border-box;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 8rem;
  width: 100%;
}

.heading > .demo > ul > li{
  margin: 1rem;
  font-size: 1.15rem;
  text-align: justify;
}

.heading > .demo > ul {
  margin-top: 0;
}

.button {
  border-radius: 0.5rem;
  width: 12rem;
  height: 3rem;
  box-sizing: border-box;
  background: #9DB6CF;
  border-style: none;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 5.5rem;
}

.button a {
  color: #F9F7F7;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  background-color: #AEA8C7;
}

.test-section {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.player {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin: 0px 3em;
}



.name {
  color: #112D4E;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 0;
  border-color: #3F72AF;
  width: 100%;
  height: 30%;
  background-color: #F9F7F7;
}

.value {
  color: #112D4E;
  margin: 1rem;
}

.chosen {
  background-color: #AEA8C7;
  border-style: none; 
}

.slider {
  padding: 0px;
  margin: 6.5rem;
  width: 150%;
  height: 100%;
  transform: rotate(-90deg);
}

input[type=range] {
  appearance: none;
  overflow: hidden;
  width: 100%;
  height: 2rem;
  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #9DB6CF;
  border-radius: 5px;
}


input[type=range]::-webkit-slider-thumb {
  height: 2rem;
  width: 1rem;
  border-radius: 10px;
  background: #F9F7F7;
  cursor: pointer;
  appearance: none;
  margin-top: -0.75rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  background: #AEA8C7;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background: #9DB6CF;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  height: 2rem;
  width: 1rem;
  border-radius: 10px;
  background: #F9F7F7;
  cursor: pointer;
  border-style: none;
  margin-top: -0.75rem;
}

input[type=range]:focus::-moz-range-thumb {
  background: #AEA8C7;
}

#heading {
  margin-top: 0;
}

.important {
  border: none;
  background-color: rgba(180, 169, 201, 0.25);
  border-radius: 10px;
  padding: 0.6rem;
}
@media (max-width: 1600px) {
  .player {
    margin: 0 2em;
    width: 9rem;
  }

  .heading > .demo > ul > li{
    margin: 1rem;
    font-size: 1rem;
  }
}

